/* ------------------------------------------------------------ *\
	Btn Play
\* ------------------------------------------------------------ */

.btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 10px solid $c-white;
	transition: border $t-duration;

	@include breakpoint-down(mobile-medium) {
		width: 80px;
		height: 80px;
		border-width: 6px;
	}

	&:hover {
		border-color: $c-blue;
	}

	&:hover:after {
		border-left-color: $c-blue;
	}

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		height: 0;
		margin-left: 5px;
		border-style: solid;
		border-width: 20px 0 20px 37px;
		border-color: transparent transparent transparent #ffffff;
		transition: border $t-duration;

		@include breakpoint-down(mobile-medium) {
			border-width: 16px 0 16px 30px;
		}
	}
}

/*btn-play-small*/
.btn-play--small {
	width: 64px;
	height: 64px;
	border-width: 6px;

	&:after {
		border-width: 13px 0 13px 24px;
		margin-left: 3px;
	}
}

.btn-play--blue {
	border-color: #c4dbeb;

	&:after {
		border-color: transparent transparent transparent #c4dbeb;
	}
}
