/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	width: 270px;
	flex-shrink: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -4004px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;

	@include breakpoint-down(mobile) {
		width: 170px;
	}

	> img {
		display: block;
		width: 100%;
	}
}
