/* ------------------------------------------------------------ *\
	Section Callout
\* ------------------------------------------------------------ */

.section-callout {
	position: relative;
	z-index: 15;
	padding: 50px 0 100px;
	background: $c-white;
	color: $c-gray;
	text-align: center;
	//border-top: 1px solid $c-light-gray;
	line-height: 1.62;

	@include breakpoint-down(mobile) {
		padding: 30px 0 40px;
	}

	@include breakpoint-down(mobile-medium) {
		padding: 20px 0 35px;
	}

	.section__head {
		margin-bottom: 5px;
		text-align: left;
	}

	.section__entry {
		//max-width: 970px;
		margin: 0px;
		font-size: 15px;
		line-height: 1.43;
		text-align: left;
		width: 33%;
		float: left;
		line-height: 1.62;
		text-transform: lowercase;
		font-size: $font-size-base;

		@include breakpoint-down(mobile-medium) {
			width: 100%;
			float: none;
			margin: 0 auto;
			text-align: center;
		}

		h1 {
			font-weight: 500;
			color: #333232;
			margin-top: 0;
			text-align: left;
			padding: 5px 0px;
			line-height: 1.62;
			text-transform: lowercase;
			font-size: $font-size-base;
			margin-bottom: 0;
			padding-top: 0px;

			@include breakpoint-down(mobile) {
				width: 100%;
				text-align: center;
			}

		}
	}

	.section__form {
		//max-width: 900px;
		margin: 0 auto;
		width: 66%;
		float: right;

		@include breakpoint-down(mobile-medium) {
			width: 100%;
			float: none;
			margin: 0 auto;
		}
	}
}

/*section-callout--alt*/

.section-callout--alt {
	padding-bottom: 133px;

	@include breakpoint-down(mobile) {
		padding-bottom: 75px;
	}

	@include breakpoint-down(mobile-medium) {
		padding-bottom: 55px;
	}

	.section__head h1 {
		font-size: 45px;

		@include breakpoint-down(mobile) {
			font-size: 36px;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 32px;
		}
	}
}
