/* ------------------------------------------------------------ *\
	Section Counters
\* ------------------------------------------------------------ */

.section-counters {
	margin-top: 30px;

	.section__head {
		margin-bottom: 14px;
		text-align: center;
		color: $c-blue;
	}

	.section__head h2 {
		font-size: 40px;
	}

	.section__body {
		padding: 20px 0 92px;
		background: $c-white;

		@include breakpoint-down(mobile) {
			padding: 55px 0 65px;
		}
	}
}
