/* ------------------------------------------------------------ *\
	Slider Houses
\* ------------------------------------------------------------ */

.slider-houses {
	.slick-list {
		margin-bottom: 20px;
		overflow: visible;
	}

	.slick-track {
		display: flex;
		align-items: center;
		padding: 63px 0;
	}

	.slick-slide {
		width: 440px;

		@include breakpoint-down(mobile-medium) {
			width: 360px;
		}

		@include breakpoint-down(mobile-small) {
			width: 280px;
		}
	}

	.slick-slide .slider__slide-image {
		margin: 0 -35px;
		padding-bottom: 71%;
		transform: scale(0.82);
		transition: all $t-duration;

		@include breakpoint-down(mobile-medium) {
			margin: 0 -25px;
		}

		@include breakpoint-down(mobile-small) {
			margin: 0 -20px;
		}
	}

	.slick-center .slider__slide-image {
		margin: 0;
		transform: scale(1);
		box-shadow: 0 13px 43px rgba(33, 30, 30, 0.29);
	}

	.slick-dots {
		padding: 0 15px;
		max-width: 100%;
		text-align: center;
	}
}
