/* ------------------------------------------------------------ *\
	Smash Balloon YouTube Feed Embed
\* ------------------------------------------------------------ */
.sb_youtube_header {
	display: none;
}

#cmplz-document {
    font-size: 16px;
    margin-top: 0;
    max-width: 100%;
    text-justify: inter-word;
}
#cmplz-document h2, #cmplz-document h3 {
    font-size: 22px;
    text-align: left;
    margin-top: 40px;
    text-transform: initial;
    padding-bottom: 10px;
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 10px;
    font-weight: 700;
}