$font-size-base             : 16px;
$font-size-socials          : 20px;
$font-size-footer           : 15px;
$font-weight-base           : 400;
$line-height-base           : 1.67;

$ff-sans-serif              : "Avenir Next", Arial, sans-serif;
$ff-sans-serif-2            : "Avenir Next", Arial, sans-serif;
$ff-serif                   : "proxima-nova", "Avenir Next", Arial, sans-serif;

$t-duration                 : 0.4s;

$shell-max-width            : 1140px;
$shell-max-width-lg         : 1500px;
$shell-gutter               : 15px;

$c-black                    : #000;
$c-white                    : #fff;
$c-base                     : #373a3e;
$c-blue                     : #57a3d9;
$c-blue-2                   : #cbe2f3;
$c-dark-blue                : #0069bc;
$c-yellow                   : #e59436;
$c-gray 	                : #71716c;
$c-dark-gray 	            : #3c4044;
$c-light-gray 	            : #dfdfd7;
$c-pink	 	            	: #d83361;

$responsive-ios             : 812px;

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	admin-bar: 782px,
	tablet: 1023px,
	small-desktop: 1199px,
	large-desktop: 1399px
);
