/* ------------------------------------------------------------ *\
	Comments
\* ------------------------------------------------------------ */

.comments {
	position: relative;

	.children {
		position: relative;
		padding-left: 70px;

		&:before,
		&:after {
			content: '';
			position: absolute;
			display: block;
		}

		&:before {
			top: 33px;
			left: 23px;
			width: 32px;
			height: 27px;
			border-left: 8px solid #c3c3c3;
			border-bottom: 8px solid #c3c3c3;
			border-radius: 0 0 0 8px;
		}

		&:after {
			top: -5px;
			left: 8px;
			border: 20px solid transparent;
			border-width: 20px 19px;
			border-bottom-color: #c3c3c3;
		}

	}

	.comment {
		position: relative;
		border-top: 1px dashed #363636;
	}

	.avatar {
		position: absolute;
		top: 28px;
		left: 0;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid #ccc;
	}

	.says {
		padding-left: 5px;
	}

	.moderation-notice {
		display: inline-block;
		margin: 3px 0 8px;
		color: #999;
	}

	.comment__entry {
		position: relative;
		padding: 30px 0 30px 65px;
	}

	.comment__text p:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.comment__meta {
		padding-bottom: 12px;
	}

	.comment__meta a {
		color: #363636;
	}

	.comment__reply {
		padding-top: 10px;
		text-align: right;
	}

	.comment__reply a {
		display: inline-block;
		padding: 5px 10px;
		background: #363636;
		color: #fff;
		border-radius: 6px;

		&:hover {
			text-decoration: none;
			opacity: .8;
		}
	}
}
